extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

       
        h1 Jenniffer Hernandez

        //- Feel free personalize the title below
        p.lead.text-light
          | Finance Professional (CPA) | Aspiring Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | My Journey started in 2017 when enrolled in BCIT Technical Web Designer course. I learned to work with modern web techologies such as HTML, CSS, Javascirpt, PHP, and WordPress.
            | After completing my studies I decided to dive deeper into the Javascript as it appeared to be a skill set that would have many applications.
            | I work as finance professinal, I am a Certified Professional Accountant (CPA), I have worked in this field for several years. I am exicted to develop my skills and looking for opportunities to work with these technologies.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li
            img(src='/static/images/pug.png')
            p Pug(Jade)

          li 
            img(src='/static/images/expressjs.png')
            p Express
            
          li 
            img(src='/static/images/nodejs.png')
            p Node.Js
          li Etc.
          li Etc. 
          li Etc.
        h6 Contact Info

        
        ul

          li hjenniffer@hotmail.com

       
        a.button.expanded(href='https://www.linkedin.com/in/jennifferhernandez/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/hjenniffer' target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/hjenniffer1') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  