extends layout.pug

block content
    block content
        nav.grid_container-portfolio-breadcrumb
            a(href='/') ← Back
        article.grid-container.portfolio-intro-portfolio-project
            .grid-x
                .cell.small-6.medium-9.large-9


                   h1=error.message
                   p.lead.text-light = error.statusCode
                   .portfolio-bo
                   p=error.stack
        nav.grid-container.portfolio-breadcrumb
           a(href'/')  ← Back               