<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Jenniffer Hernandez Portfolio Site
    link(href="https://fonts.googleapis.com/css2?family=Bellota+Text:wght@400;700&family=Roboto&display=swap", rel='stylesheet')
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/style.css')
    link(rel='shortcut icon', href='/static/css/style.css')
    <link rel='shortcut icon', href='/static/images/favicon.ico'>
  body
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
             img.thumbnail(src='/static/images/jenn.jpg', atl='profile')
           
          .cell.auto

            h5 Jenniffer Hernandez

            //- Add text here to describe who you are, what you do, and why you are so awesome.
            p.text-light
              p As a life long learner, I am passionate about learning new technologies and skills. On my down time, I enjoy the outdoors and love cycling. 
              
              

            //- Add about page route to the href below. 
            a(href='/about') Learn More →
          


        .logo
          img.logopic(src="/static/images/JH.png", atl="Logo")
          p.copy &copy; 2020. July 


    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')

          //- Add your name here.  This is for the mobile screen sized version.
          span.title-bar-title Jenniffer Hernandez
      block content
        

      
  script(src='/static/js/vendor/jquery.js')
  script(src='/static/js/vendor/what-input.js')
  script(src='/static/js/vendor/foundation.js')
  script(src='/static/js/scripts.js')
